
/* Lift card */
.left-container {
    display: contents;
    position: relative;
    width: 50%;
}

.not-completed {
    border: 1px solid red;
    padding: 0.5em 0.5em 0.5em 1em;
    margin-bottom: 2em;
    margin-right: 20px;
    display: inline-block;
    width: 45%;
    flex: 0 0 auto;
}

.all-completed {
    border: 1px solid green;
    padding: 0.5em 0.5em 0.5em 1em;
    margin-bottom: 2em;
    margin-right: 20px;
    display: inline-block;
    flex: 0 0 auto;
    width: 45%;
}

.not-completed.check {
    background-color: rgb(209, 101, 101)
}

.all-completed.check {
    background-color: rgb(12, 213, 12)
}

.other-data-button {
    background-color: gray;
    width: fit-content;
    height: 2em;
    padding: 0.5em 0.5em 0.5em;
    display: inline-block;
}

.other-data-card {
    margin-top: 5px;
    margin-bottom: 1em;
    border: 1px solid gray;
    border-radius: 20px;
    background-color: rgb(216, 207, 207);
    padding: 0.5em 0.5em 0.5em;
}

.label-style {
    width: 6em;
    display: inline-block;
}

/* right card */

.right-container {
    display: inline-block;
    position: absolute;
    width: 50%;
}

